@mixin flex($justify-content,$align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font($f-family,$f-size,$f-weight) {
  font-family:$f-family;
  font-size: $f-size;
  font-weight: $f-weight;
}
