@media screen and (width <= 1199px) {
  html {
    font-size: 18px;
  }

  .logo img{
    width: 175px;
  }
}

@media screen and (width <= 991px) {
  html {
    font-size: 17px;
  }

  .logo img{
    width: 150px;
  }

  .navbar {
    &__container{
      flex-direction: column;
      position: relative;
    }

    &__list {
      display: none !important;
      margin-top: 15px;
      text-align: center;

      > li{
        padding: 0 5px;
      }
    }

    &__list.active, &__toggle{
      display: block !important;
    }

    &__toggle{
      position: absolute;
      display: block;
      top: 5px;
      bottom: 0;
      right: 20px;
    }

    &__list-login{
      position: absolute;
      top: 0;
      left: 5px;
    }

    &__logo {
      margin: 0 auto;
    }
  }

  main {
    .about {
      &__content {
        text-align: center;
      }

      &__img {
        display: none;
      }
    }
  }
}

@media screen and (width <= 767px) {
  html {
    font-size: 15px;
  }

  .logo img{
    width: 125px;
  }

  .header{
    &__background{
      object-position: center;
    }
  }

  main {
    .choose {
      &::before {
        background-position: center center;
        background-size: cover;
        filter: blur(8px) brightness(1.1);
      }

      &__content {
        text-align: center;
      }

      &__slider {
        right: 0;
      }
    }
    .price{
      &__up{
        font-size: 1.5em;
      }
      &__bot{
        font-size: 1.1em;
      }
    }
  }

  .footer{
    &__container{
      flex-direction: column;
    }

    &__details{
      flex-direction: column;
      text-align: center;

      .address{
        margin: 2em 0;
      }

      .contacts{
        align-self: center;
      }
    }
  }
}

@media (width <= 575px) {
  html {
    font-size: 13px !important;
  }

  .logo img{
    width: 100px;
  }
  .price{
    &__up{
      font-size: 2em;
    }
    &__bot{
      font-size: 1.5em;
    }
  }
  .about{
    &____content{
      h1{
        font-size: 4em !important;
      }

      p{
        font-size: 1.5em !important;
      }
    }
  }
}